.footer {
    background: var(--Grey-Light, #f1f1f1);
    padding-bottom: 37px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1201px;
    margin: 52px auto 0;
    font-family: Open Sans, sans-serif;
    color: var(--Dark2, #000);
}

.company-info {
    min-width: 240px;
}

.company-name {
    font-size: 21px;
    font-weight: 700;
}

.company-description {
    font-size: 17px;
    margin-top: 20px;
}

.footer-nav {
    display: flex;
    gap: 100px;
}

.nav-section {
    width: 97px;
}

.nav-header {
    font-size: 21px;
    font-weight: 700;
}

.nav-divider {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    font-size: 17px;
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 991px) {
    .footer-content {
        max-width: 100%;
        margin-top: 40px;
        padding: 0 20px;
    }
}